body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: lightgray;
}

.tim {
    background-color: white;
    border-radius: 5%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    padding-bottom: 4%;
}

.see>a {
    padding: 15px 15px 15px 15px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5%;
    margin-left: 37%;
}
h1, .inventor {
    margin-left: 35%;
}
h1 {
    color: red;
}

a:hover {
    color: green;
}

.follow {
    background-color: white;
    border-radius: 2%;
}

.film {
    background-color: white;
    border-radius: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
}


/*.fav {
    grid-column: 2/2;
}*/

.timphoto {
    border-radius: 50%;
    margin-left: 35%;
    
}
.resume {
    margin-left: 15%;
    height: 5%;
}
.bio {
    width: 50%;
    margin-left: 28%;
    padding-bottom: 2%;

}
.fav {
    margin-left: 50%;
}